<footer class="footer">
  <div class="container">
    <div class="section">
      <h4>Sobre nosotros</h4>
      <p>BootShop es tu tienda de botas de confianza con productos de calidad.</p>
    </div>
    
    <div class="section">
      <h4>Contacto</h4>
      <p>Correo: info&#64;bootshop.com</p>
      <p>Tel: +52 1234 567890</p>
    </div>
    
    <div class="section">
      <h4>Redes Sociales</h4>
      <ul>
        <li><a href="#" target="_blank">Facebook</a></li>
        <li><a href="#" target="_blank">Instagram</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>
  
  <div class="copyright">
    <p>&copy; 2025 BootShop. Todos los derechos reservados.</p>
  </div>
</footer>
